body {
    background-image: url('/img/background.png'); /* Replace with the actual path to your image */
    background-size: cover; /* Adjust according to your design preferences */
    background-repeat: no-repeat;
    /* Add more styles if needed */
   
}

.container{
    width: 70%; /* Adjust the width as needed */  
    margin: auto; /* Center the container horizontally */
    
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .container {
        padding: 5px; /* Adjust padding for smaller screens */
    }
}
