body {
    background-image: url('/img/background.png'); /* Replace with the actual path to your image */
    
    /* Add more styles if needed */
   
}

.container{
    max-width: 100%; /* Use max-width for a fluid layout */
    margin: auto;
    padding: 0 20px; /* Add padding as needed */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    body {
        background-size: contain;
    }
}

/* Mobile styles */

@media (min-width: 768px) {
    /* Tablet and larger screen styles */
}

@media (min-width: 1024px) {
    /* Desktop styles */
}

