
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4; /* Background color for the body */
            margin: 0;
            padding: 0;
        }

        #sidebar {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 50px; /* Initial width when minimized */
            background-color: #3498db; /* Main sidebar color */
            color: #ecf0f1; /* Text color */
            overflow-y: auto;
            transition: width 0.3s;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
        }

        #sidebar.minimized {
            width: 50px; /* Adjust as needed */
        }

        #sidebar ul.components {
            padding: 20px;
            border-bottom: 1px solid #2980b9; /* Border color between logo and items */
        }

        #sidebar ul li a {
            padding: 15px;
            text-decoration: none;
            font-size: 1.2rem;
            color: #ecf0f1;
            display: block;
            transition: background-color 0.3s;
        }

        #sidebar ul li a:hover {
            background-color: #2980b9; /* Darker background on hover */
        }

        #sidebar .logo {
            width: 80%;
            height: auto;
            border-radius: 50%;
            cursor: pointer;
            margin: 10px auto;
            display: block;
        }

        #sidebar.minimized .logo {
            width: 50%;
            margin: 10px auto;
        }

        #content {
            margin-left: 50px; /* Initial margin when not minimized */
            transition: margin-left 0.3s;
            padding: 15px;
        }

        #content.minimized-content {
            margin-left: 50px; /* Adjust as needed */
        }
